In [6]:
import pandas as pd

df1 = pd.read_csv('2014년졸음운전교통사고.csv',encoding='euc-kr')
df1.set_index('구분',inplace=True)
df1

df2 = pd.read_csv('2015년졸음운전교통사고.csv',encoding='euc-kr')
df2.set_index('구분',inplace=True)
df2

df3 = pd.read_csv('2016년졸음운전교통사고.csv',encoding='euc-kr')
df3.set_index('구분',inplace=True)
df3

# DataFrame 합치기
df = pd.concat([df1,df2,df3])
df

          사고(건)  사망(명)  부상(명)
구분
2014년1월     169      7    347
2014년2월     145      3    268
2014년3월     206     12    358
2014년4월     182      4    360
2014년5월     218     17    474
2014년6월     233     13    457
2014년7월     229     14    431
2014년8월     222      9    447
2014년9월     225     15    430
2014년10월    210     14    392
2014년11월    209     10    386
2014년12월    178     12    329
2015년1월     205      8    375
2015년2월     175      8    375
2015년3월     237      4    492
2015년4월     227     10    486
2015년5월     231      9    504
2015년6월     207      8    401
2015년7월     273      7    556
2015년8월     268     19    534
2015년9월     252     10    501
2015년10월    214     14    475
2015년11월    199      3    398
2015년12월    213      8    428
2016년1월     192      5    387
2016년2월     174      6    328
2016년3월     217      7    435
2016년4월     216      7    419
2016년5월     239     13    522
2016년6월     200     12    362
2016년7월     227      9    460
2016년8월     230      7    490
2016년9월     187     13    347
2016년10월    183     10    367
2016년11월    200      5    418
2016년12월    168      4    364