### 아래 정보를 DataFrame으로 출력하시오.
### 1. no,id,pw,name,phone,email,address,gender,major,grade,hobby,ip_address

In [12]:
import pandas as pd

# dict타입으로 변경
data = {
    'no':[1,2,3,4,5],
    'id':['Joelynn','Bambie','Orin','Puff','Godfree'],
    'pw':[6856,8439,4720,8047,5878],
    'name':['Paschke','Henriet','Torresi','Gilvary','Gauchier'],
    'phone':['726-935-7279','106-961-2837','283-535-0981','677-319-4536','451-834-0498'],
    'email':['jpaschke0@time.com','bhenriet1@github.io','otorresi2@vinaora.com','pgilvary3@bbc.co.uk','ggauchier4@uiuc.edu'],
    'address':['460 Melby Avenue','5682 School Road','2341 Straubel Place','5 Sheridan Street','96 Northwestern Trail'],
    'gender':['F','F','M','M','M'],
    'major':['science','machine','computer','computer','computer'],
    'grade':[2,1,3,1,2],
    'hobby':['run','game','run','game','run'],
    'ip_address':['197.125.170.29','186.223.222.89','103.111.108.9','130.172.144.105','203.234.117.86']
}

df = pd.DataFrame(data)
df.set_index('no',inplace=True) # 컬럼에서 index를 설정
df

# df = pd.DataFrame(data,index=['1번','2번','3번','4번','5번'])   # index지정
# df.index.name='지원번호'                                   # index이름 설정
# df.reset_index(drop=True,inplace=True)                         # index삭제

,id,pw,name,phone,email,address,gender,major,grade,hobby,ip_address
no,,,,,,,,,,,
1,Joelynn,6856,Paschke,726-935-7279,jpaschke0@time.com,460 Melby Avenue,F,science,2,run,197.125.170.29
2,Bambie,8439,Henriet,106-961-2837,bhenriet1@github.io,5682 School Road,F,machine,1,game,186.223.222.89
3,Orin,4720,Torresi,283-535-0981,otorresi2@vinaora.com,2341 Straubel Place,M,computer,3,run,103.111.108.9
4,Puff,8047,Gilvary,677-319-4536,pgilvary3@bbc.co.uk,5 Sheridan Street,M,computer,1,game,130.172.144.105
5,Godfree,5878,Gauchier,451-834-0498,ggauchier4@uiuc.edu,96 Northwestern Trail,M,computer,2,run,203.234.117.86