In [2]:
import pandas as pd

data = {
    '이름':['강나래','강태원','강호림','김수찬','김재욱','박동현','박혜정','승근열'],
    '학교':['구로고','구로고','구로고','구로고','구로고','단지고','단지고','단지고'],
    '키':[197,184,168,187,188,202,188,190],
    '국어':[90,40,80,40,15,80,55,100],
    '영어':[85,35,75,60,20,100,65,85],
    '수학':[100,50,70,70,10,95,45,90],
    '과학':[95,55,80,75,35,85,40,95],
    '사회':[85,25,75,80,10,80,35,95],
    'SW특기':['Python','Java','javascript','','','C','PYTHON','c#']
}

In [8]:
df = pd.DataFrame(data)
df.set_index('키',inplace=True)
df.sort_index(ascending=True,inplace=True) # index를 기준으로 정렬
df

      이름   학교   국어   영어   수학  과학  사회        SW특기
키
168  강호림  구로고   80   75   70  80  75  javascript
184  강태원  구로고   40   35   50  55  25        Java
187  김수찬  구로고   40   60   70  75  80
188  김재욱  구로고   15   20   10  35  10
188  박혜정  단지고   55   65   45  40  35      PYTHON
190  승근열  단지고  100   85   90  95  95          c#
197  강나래  구로고   90   85  100  95  85      Python
202  박동현  단지고   80  100   95  85  80           C